<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:layout="http://www.w3.org/1999/xhtml" xsi:schemaLocation="http://www.thymeleaf.org "
	layout:decorate="~{layout/dndpage}">

<head>
	<title th:text="#{gui.createcharacter.title}"></title>
</head>
<body>
<div layout:fragment="content">
	<form action="#" th:action="@{/createCharacter}" th:object="${characterCreateForm}" method="post">
		<div class="options_bar">

		</div>
		<div class="content_panel">
			<div>
				<label th:text="#{gui.createcharacter.label.name}"></label>
				<input type="text" th:field="*{name}"/>
			</div>
			<div>
				<label th:text="#{gui.createcharacter.label.gender}"></label>
				<select th:field="*{gender}">
					<option th:each="gender: ${genders}" th:value="${gender}" th:text="${T(sk.dnd.util.DndWebFunctions).enumContextLocalization(gender)}"></option>
				</select>
			</div>
			<div>
				<label th:text="#{gui.createcharacter.label.allignment}"></label>
				<select th:field="*{allignment}">
					<option th:each="allignment: ${allignments}" th:value="${allignment}" th:text="${T(sk.dnd.util.DndWebFunctions).enumContextLocalization(allignment)}"></option>
				</select>
			</div>
			<div>
				<label th:text="#{gui.createcharacter.label.background}"></label>
				<select th:field="*{background}">
					<option th:each="background: ${backgrounds}" th:value="${background.id}" th:text="${background.currentLocale.name}"></option>
				</select>
			</div>
			<div>
				<label th:text="#{gui.createcharacter.label.race}"></label>
				<select th:field="*{race}">
					<option th:each="race: ${races}" th:value="${race.id}" th:text="${race.currentLocale.name}"></option>
				</select>
			</div>
			<div>
				<label th:text="#{gui.createcharacter.label.subrace}"></label>
				<select th:field="*{subrace}">
					<option th:each="subrace: ${subraces}" th:value="${subrace.id}" th:text="${subrace.currentLocale.name}"></option>
				</select>
			</div>
			<div>
				<label th:text="#{gui.createcharacter.label.level}"></label>
				<input type="number" th:field="*{level}"/>
			</div>
			<div>
				<label th:text="#{gui.createcharacter.label.hitpoints}"></label>
				<input type="number" th:field="*{hitPoints}"/>
			</div>
			<div>
				<label th:text="#{gui.createcharacter.label.temporaryhitpoints}"></label>
				<input type="number" th:field="*{temporaryHitPoints}"/>
			</div>
			<div>
				<label th:text="#{gui.createcharacter.label.wounds}"></label>
				<input type="number" th:field="*{wounds}"/>
			</div>
			<div>
				<label th:text="#{gui.createcharacter.label.strength}"></label>
				<input type="number" th:field="*{strength}"/>
			</div>
			<div>
				<label th:text="#{gui.createcharacter.label.dexterity}"></label>
				<input type="number" th:field="*{dexterity}"/>
			</div>
			<div>
				<label th:text="#{gui.createcharacter.label.constitution}"></label>
				<input type="number" th:field="*{constitution}"/>
			</div>
			<div>
				<label th:text="#{gui.createcharacter.label.wisdom}"></label>
				<input type="number" th:field="*{wisdom}"/>
			</div>
			<div>
				<label th:text="#{gui.createcharacter.label.intelligence}"></label>
				<input type="number" th:field="*{intelligence}"/>
			</div>
			<div>
				<label th:text="#{gui.createcharacter.label.charisma}"></label>
				<input type="number" th:field="*{charisma}"/>
			</div>
			<div>
				<label th:text="#{gui.createcharacter.label.inspiration}"></label>
				<input type="checkbox" th:field="*{inspired}"/>
			</div>
			<div>
				<label th:text="#{gui.createcharacter.label.origin}"></label>
				<input type="text" th:field="*{origin}"/>
			</div>
		</div>
		<div>
			<input th:value="#{gui.global.button.save}" type="submit"/>
			<a th:href="@{/reset}" th:text="#{gui.global.button.reset}"></a>
		</div>
	</form>
</div>
</body>
</html>