<div class="header_title_bar">
  <div id="header_icon">
    <a href="/">
      <img [src]="headerIcon">
    </a>
  </div>
  <div id="header_text">
    <div id="header_main_text">Tvorca postavy</div>
    <div id="header_description_text">bezplatný nástroj na tvorbu/prispôsobenie/ladenie DnD postáv</div>
  </div>
  <div id="localization_panel"></div>
</div>
<div class="navigation_bar">
  <div class="nav_bar_item home_icon">
    <a href="/">
      <img style="margin-top: -6px;" src="/assets/images/if_home_1608930.png">
    </a>
  </div>
</div>
