.content {
  min-height: 480px;
}

div.options_bar {
  float: left;
  width: 210px;
  height: 500px;
  margin-right: 5px;
}

div.option {
  background: url("../../assets/images/dnd_text_background_small.png") no-repeat -40px;
}

a.options_bar.option {
  display: block;
  text-align: CENTER;
  height: 30px;
  margin-top: 10px;
  padding-top: 4px;
  color: white;
  text-decoration: none;
}

div.content_panel {
  float: left;
  width: 776px;
  height: 500px;
  margin-left: 5px;
}

div#creation_base_info {
  float:left;
  width: 40%;
  height: 100%;
  border: 1px solid;
}

div#detail_info_panel {
  float: left;
  width: 60%;
  height: 100%;
  border: 1px solid;
}
